<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  </head>
  <body>
    <h1>Cohorts</h1>
    <table class="content-table">
      <thead>
        <tr>
          <th>Cohort</th>
          <th>Users</th>
          <th>0-7 Days</th>
          <th>7-14 Days</th>
          <th>14-21 Days</th>
        </tr>
      </thead>
      <tbody>
        <% @cohorts.map do |cohort|  %>
          <tr>
            <td><%= cohort[:dates] %></td>
            <td><%= "#{cohort[:count]} users" %></td>
            <td><%= cohort[:percent_of_orders] %></td>
            <td><%= "cohort[index]" %></td>
            <td><%= "cohort[index]" %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </body>
</html>