<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  </head>
  <body>
    <h1>Cohorts</h1>
    <table class="content-table">
      <thead>
        <tr>
          <th>Cohort</th>
          <th>Users</th>
          <% 8.times do |i| %>
            <th>
              <% if i.eql?(0) %>
              0-7
              <% else %>
              <%= ((i)*7)%>-<%=((i+1)*7)%>
              <% end%> days 
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @cohorts.each_with_index do |cohort, index|  %>
          <tr>
            <td><%= cohort[1][:dates] %></td>
            <td><%= "#{cohort[1][:total_users]} users" %></td>
            <%8.times do |i| %>
              <td NOWRAP>
                <% if cohort[1][:count][i].to_f > 0 %>
                  <%= "#{((cohort[1][:count][i].to_f/total_users.to_f) * 100.00).round(1)}% " rescue nil %> orderers (<%= "#{cohort[1][:count][i]}" %>)<br>
                  <%= "#{((cohort[1][:first_time][i].to_f/total_users.to_f) * 100.00).round(1)}% " rescue nil %> 1st time (<%= "#{cohort[1][:first_time][i]}" rescue nil %>)
                <% else %>
                  --
                <% end %>
              </td>
            <% end %>
          </tr>
        <%end%>
      </tbody>
    </table>
  </body>
</html>